.sidebar-nav {
    /*padding-right: 20px;*/
    /*padding: 0;*/
    list-style: none;
    padding-left: 20px;
	font-family: 'Cuprum', sans-serif;
	height: 90%;
    width:200px;
    position: fixed;
    z-index:1;
    top:0;
    left:0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px
}

.sidebar-nav a {
  padding: 6px 8px 0px 16px;
  text-decoration: none;
  color: #818181;
  font-size: 25px;
  display: block;
}

.sidebar-nav a: hover{
	color: #F1F1F1;
}

#menu {
	padding-top: 15px;
	margin-bottom: 0px;
/*	padding-bottom: 500px;
*/
}


.page-header {
	height: 10%;
    min-height: 60px;
    background-color: #032955;
    margin-top: 0;
    padding: 10px 20px 20px 40px;
}

.page-header h1,
.page-header h1 a,
.page-header h1 a:visited,
.page-header h1 a:active {
    color: #ffffff;
    font-size: 54pt;
    text-decoration: none;
}

h1 a, h2 a {
    color: #FFFFFF;
    font-family: 'Caveat', cursive;
}


.page-header h5 {
	color: #A0B5CE;
	font-family: 'Caveat', cursive;
}



h5 {
	color: #A0B5CE;
	font-size: 18pt;
}

h4 a {
	color: #FFFFFF;
	font-family: 'Cuprum', sans-serif;
}


.col-sm-2{
  background-color: #111;
  padding-top: 20px

}

.col-sm-2 h4,
.col-sm-2 h4 a {
    color: #FFFFFF;
    font-size: 15pt;
    text-decoration: none;
    margin-bottom:10px;
    font-weight:400;
    font-style:normal;
    text-transform:none

}

.col-sm-2 h4 a:hover,
.col-sm-2 h4 a:visited,
.col-sm-2 h4 a:active {
	color: #F1F1F1;
}



h2 {
	font-size: 32pt;
	font-family: 'Cuprum', sans-serif;
}


#topbar #search{height:45px; padding:15px 0;display:block; float:right;}



.liste-chap,
.liste-chap:visited {
    color: #F1F1F1;
    background: none;
}

.liste-chap:hover {
	color: white;
}


.puces-navbar {
	list-style: circle;
	color: white;
}

.titre h1 a {
	color: #FFFFFF;
    font-size: 46pt;
    text-decoration: none;
    font-weight:400;
    font-style:normal;
    text-transform:none

}

.titre h5 {
	font-size: 14pt;
    text-decoration: none;
    margin-bottom:4px;
    font-weight:500;
    font-style:italic;
    text-transform:none;
    font-family: 'Roboto Condensed', sans-serif;
}


html, body {
	height: 100%
}

#page {
    min-height: 100%;
    position: relative;
}

#bloc-principal {
    padding-bottom: 100px;
}

.col-sm-10 {
	padding-top: 20px;
}

.page-link, .page-item, .pagination {
	text-decoration: none;
	text-transform: none;
}

h6 {
	line-height: 50%;
}
