{% extends 'base_generic.html' %}

{% block content %}
	<h1>Physique 2A</h1>
		<div class="card">
			  <h4 class="card-header">Chapitres :</h4>
			  {% if p_list.count == 0 %}
	  			<div class="card-body">
	  			Aucun exercice pour le moment ! Patientez un peu, ils arrivent bientôt {% include './icons/emoji-wink.svg'%}
	  			</div>
			  {% endif %}
			{% for chapitre in p_list %}
				<div class="card-body">
			    	<h6 class="card-title"><ul><li><a href="{{ chapitre.get_absolute_url }}">{{ chapitre.numero }}) {{ chapitre.nom }}</a></li></ul></h6>
			  	</div>
			{% endfor %}
		</div>
{% endblock %}