{% extends 'base_generic.html' %}

{% block content %}
	<h1>2A</h1>
  	<h6>Voici les exercices disponibles pour les 2A, enjoy !</h6>
  		{% if deux_list.count == 0 %}
	  		Aucun exercice ! Patientez un peu, ils arrivent bientôt :-)
	  	{% endif %}
   		{% for chapitre in deux_list %}
  			<strong>{{ chapitre.matiere }}</strong>
  			<ul>
  				<li>{{ chapitre.nom }}</li>
  				
  					<!--<ol>-->
  						<!--{% for chapitre in deux_list %}-->
  							<!--<li>-->
  								<!--{{ chapitre.nom }}-->
  							<!--</li>-->
  						<!--{% endfor %}-->
  					<!--</ol>-->
  			</ul>
  		{% endfor %}
{% endblock %}