{% extends 'base_generic.html' %}

{% block content %}
	<h1>2A</h1>
  	<h6>Voici les exercices disponibles pour les 2A, enjoy !</h6>
  		{% if deux_list.count == 0 %}
	  		<p>Aucun exercice pour le moment ! Patientez un peu, ils arrivent bientôt {% include './icons/emoji-wink.svg'%}</p>
		{% endif %}
		<div class="container-fluid">
		<div class="container-fluid">
		<div class="card">
			  <h4 class="card-header">Chimie</h4>
			  {% if c_list.count == 0 %}
	  			<p>Aucun exercice pour le moment ! Patientez un peu, ils arrivent bientôt {% include './icons/emoji-wink.svg'%}</p>
			  {% endif %}
			<ul>
			{% for chapitre in c_list %}
				<div class="card-body">
			    	<li><a href="{{ chapitre.get_absolute_url }}">{{ chapitre.numero }}) {{ chapitre.nom }}</a></li>
			  	</div>
			{% endfor %}
			</ul>
		</div>
		</div>
		<br/>
		<div class="container-fluid">
		<div class="card">
			  <h4 class="card-header">Maths</h4>
			  {% if m_list.count == 0 %}
	  			<p>Aucun exercice pour le moment ! Patientez un peu, ils arrivent bientôt {% include './icons/emoji-wink.svg'%}</p>
			  {% endif %}
			<ul>
			{% for chapitre in m_list %}
				<div class="card-body">
			    	<li><a href="{{ chapitre.get_absolute_url }}">{{ chapitre.numero }}) {{ chapitre.nom }}</a></li>
			  	</div>
			{% endfor %}
			</ul>
		</div>
		</div>
		<br/>
		<div class="container-fluid">
		<div class="card">
			<h4 class="card-header">Physique</h4>
			{% if p_list.count == 0 %}
			<div class="card-body">
	  			Aucun exercice pour le moment ! Patientez un peu, ils arrivent bientôt {% include './icons/emoji-wink.svg'%}
	  		</div>
			{% endif %}
			<ul>
			{% for chapitre in p_list %}
				<div class="card-body">
			    	<li><a href="{{ chapitre.get_absolute_url }}">{{ chapitre.numero }}) {{ chapitre.nom }}</a></li>
			  	</div>
			{% endfor %}
			</ul>
		</div>
		</div>
		<br/>
		<br/>
	</div>
{% endblock %}