{% extends "base_generic.html" %}

{% block content %}
  <h1>{{ chapitre.matiere }} - Chapitre n°{{chapitre.numero}} : {{ chapitre.nom }}</h1>
    {% if exercices.count == 0 %}
        <p>
          Aucun exercice pour le moment ! Patientez un peu, ils arrivent bientôt {% include './icons/emoji-wink.svg'%}
        </p>
    {% else %}
    <h6>Voici les exercices disponibles pour ce chapitre !</h6>
    {% endif %}
{% for group in request.user.groups.all %}
    {% if group.name == 'prof'%}
    <div class="container-fluid"><div class="card w-75">
    <div class="card-header">
      <h4>Actions</h4>
    </div>
    <div class="card-body">
    <div class="btn-group" role="group">
    <a href="{% url 'new_ex' %}" class="btn btn-outline-success btn-sm">Ajouter un exercice</a>
        <a href="{% url 'home' %}" class="btn btn-outline-secondary btn-sm">Retour à la page d'accueil</a>
  </div>
    </div></div>    
  </div>
    {% endif %}
{% endfor %}
  <br/>


{% for exercice in exercices %}
    <ul>
        {% if exercice.difficulte == null %}
          {% if exercice.nom == None %}
          <li>
          <a href="{{ exercice.get_absolute_url }}">Exercice {{ exercice.id }}</a>
          {% else %}
          <li>
          <a href="{{ exercice.get_absolute_url }}">{{ exercice.nom }}</a>
          {% endif %}
        {% for fichier in fichiers %}
        <ul>
          {% if fichier.exercice.chapitre == exercice.chapitre and fichier.exercice == exercice %}
            {% if fichier.format == "i" %}
                {% if fichier.correction == "Non" %}
                    <img src="{{ fichier.file.url }}" alt="énoncé" width="750">
                {% endif %}
            {% elif fichier.format == "p" and fichier.correction == "Non" %}
              <li>
              PDF : 
                  <a href="{{ fichier.file.url }}" class="btn btn-sm btn-outline-light">Fichier</a>
            {% endif %}
          {% endif %}
        </ul></li>
        {% endfor %}
        {% for group in request.user.groups.all %}
          {% if group.name == 'prof'%}
          <div class="container-fluid">
            <div class="btn-group" role="group">
            <a href="{% url 'newformat' %}" class="btn btn-outline-success btn-sm">Ajouter un format</a>
            <a href="{% url 'edit_ex' exercice.id %}" class="btn btn-warning btn-sm">Modifier l'exercice</a>
              <a href="{% url 'supp_ex' exercice.id %}" class="btn btn-outline-danger btn-sm">Supprimer l'exercice</a>
            </div>
          </div>
          {% endif %}
        {% endfor %}



        {% elif exercice.difficulte == 1 %}
          {% if exercice.nom == None %}
          <li>
          <a href="{{ exercice.get_absolute_url }}">Exercice {{ exercice.id }} ({% include './icons/star-fill.svg'%})</a></li>
          {% else %}
          <li>
          <a href="{{ exercice.get_absolute_url }}">{{ exercice.nom }} ({% include './icons/star-fill.svg'%})</a></li>
          {% endif %}
        {% for fichier in fichiers %}
        <ul>
            {% if fichier.exercice.chapitre == exercice.chapitre and fichier.exercice == exercice %}
            {% if fichier.format == "i" %}
                {% if fichier.correction == "Non" %}
                    <img src="{{ fichier.file.url }}" alt="énoncé" width="750">
                {% endif %}
            {% elif fichier.format == "p" and fichier.correction == "Non" %}
              <li>
              PDF : 
                  <a href="{{ fichier.file.url }}" class="btn btn-sm btn-outline-light">Fichier</a>
            {% endif %}
          {% endif %}
      </ul>
        {% endfor %}
        {% for group in request.user.groups.all %}
          {% if group.name == 'prof'%}
          <div class="container-fluid">
            <div class="btn-group" role="group">
            <a href="{% url 'newformat' %}" class="btn btn-outline-success btn-sm">Ajouter un format</a>
            <a href="{% url 'edit_ex' exercice.id %}" class="btn btn-warning btn-sm">Modifier l'exercice</a>
              <a href="{% url 'supp_ex' exercice.id %}" class="btn btn-outline-danger btn-sm">Supprimer l'exercice</a>
            </div>
          </div>
          {% endif %}
        {% endfor %}

        {% elif exercice.difficulte == 2 %}
          {% if exercice.nom == None %}
          <li>
          <a href="{{ exercice.get_absolute_url }}"><!-- {{ exercice.nom }} -->Exercice {{ exercice.id }} ({% include './icons/star-fill.svg'%}{% include './icons/star-fill.svg'%})</a>
          {% else %}
          <li>
          <a href="{{ exercice.get_absolute_url }}">{{ exercice.nom }} ({% include './icons/star-fill.svg'%}{% include './icons/star-fill.svg'%})</a>
          {% endif %}
        {% for fichier in fichiers %}
        <ul>
          {% if fichier.exercice.chapitre == exercice.chapitre and fichier.exercice == exercice %}
            {% if fichier.format == "i" %}
                {% if fichier.correction == "Non" %}
                    <img src="{{ fichier.file.url }}" alt="énoncé" width="750">
                {% endif %}
            {% elif fichier.format == "p" and fichier.correction == "Non" %}
              <li>
              PDF : 
                  <a href="{{ fichier.file.url }}" class="btn btn-sm btn-outline-light">Fichier</a>
            {% endif %}
          {% endif %}
      </ul>
        {% endfor %}
        {% for group in request.user.groups.all %}
          {% if group.name == 'prof'%}
          <div class="container-fluid">
            <div class="btn-group" role="group">
            <a href="{% url 'newformat' %}" class="btn btn-outline-success btn-sm">Ajouter un format</a>
            <a href="{% url 'edit_ex' exercice.id %}" class="btn btn-warning btn-sm">Modifier l'exercice</a>
              <a href="{% url 'supp_ex' exercice.id %}" class="btn btn-outline-danger btn-sm">Supprimer l'exercice</a>
            </div>
          </div>
          {% endif %}
        {% endfor %}

        {% elif exercice.difficulte == 3 %}
          {% if exercice.nom == None %}
          <li>
          <a href="{{ exercice.get_absolute_url }}"><!-- {{ exercice.nom }} -->Exercice {{ exercice.id }} ({% include './icons/star-fill.svg'%}{% include './icons/star-fill.svg'%}{% include './icons/star-fill.svg'%})</a>
          {% else %}
          <li>
          <a href="{{ exercice.get_absolute_url }}">{{ exercice.nom }} ({% include './icons/star-fill.svg'%}{% include './icons/star-fill.svg'%}{% include './icons/star-fill.svg'%})</a>
          {% endif %}
        {{% for fichier in fichiers %}
        <ul>
            {{% if fichier.exercice.chapitre == exercice.chapitre and fichier.exercice == exercice %}
            {% if fichier.format == "i" %}
                {% if fichier.correction == "Non" %}
                    <img src="{{ fichier.file.url }}" alt="énoncé" width="750">
                {% endif %}
            {% elif fichier.format == "p" and fichier.correction == "Non" %}
              <li>
              PDF : 
                  <a href="{{ fichier.file.url }}" class="btn btn-sm btn-outline-light">Fichier</a>
            {% endif %}
          {% endif %}
      </ul>
        {% endfor %}
        {% for group in request.user.groups.all %}
          {% if group.name == 'prof'%}
          <div class="container-fluid">
            <div class="btn-group" role="group">
            <a href="{% url 'newformat' %}" class="btn btn-outline-success btn-sm">Ajouter un format</a>
            <a href="{% url 'edit_ex' exercice.id %}" class="btn btn-warning btn-sm">Modifier l'exercice</a>
              <a href="{% url 'supp_ex' exercice.id %}" class="btn btn-outline-danger btn-sm">Supprimer l'exercice</a>
            </div>
          </div>
          {% endif %}
        {% endfor %}
        {% endif %}
      </ul>
        {% endfor %}
{% endblock %}