{% extends "base_generic.html" %}

{% block content %}
  <h1>{{exercice.nom}} ({{exercice.chapitre.nom}})</h1>
  <ul>
    {% for fichier in fichiers %}
		{% if fichier.correction == "Oui" %}
			<a href="{{ fichier.file.url }}">{{ "Voir la correction" }}</a>
		{% elif fichier.format == "i" %}
			<img src="{{ fichier.file.url }}" alt="énoncé" width="750"><br/>
		{% elif fichier.format == "p" %}
		<br/>
		<div class="d-grid gap-2 d-md-block">
			  <a href="{{ fichier.file.url }}" class="btn btn-outline-light">{{ fichier.get_format_display }}</a>
  		{% elif fichier.format == "t" %}
  			<a href="{{ fichier.file.url }}" class="btn btn-outline-info">{{ fichier.get_format_display }}</a>
  		</div>
		{% endif %}
	{% endfor %}
  </ul>

  <div class="card">
  	<div class="card-header">
  		<h4>Actions</h4>
  	</div>
  	<div class="card-body">
  	<a href="{% url 'newformat' %}" class="btn btn-outline-success btn-sm">Ajouter un format</a>
  	<a href="{% url 'home' %}" class="btn btn-outline-secondary btn-sm">Retour à la page d'accueil</a>
  	<a href="{% url 'supp_ex' exercice.id %}" class="btn btn-outline-danger btn-sm">Supprimer l'exerice</a>
  	</div>
  </div>

  <!--<p><a href="{% url 'newformat' %}">Ajouter un format</a></p>-->
  <!--<p><a href="{% url 'home' %}">Retour à la page d'accueil</a></p>-->

  
{% endblock %}