{% extends "base_generic.html" %}
{% load static %}

{% block content %}
  <h1>Liste des exercices</h1>
  {% if exercice_list %}
  <ul>
    {% for exercice in exercice_list %}
      <li>
        <a href="{{ exercice.get_absolute_url }}"> Exercice {{ exercice.id }}</a> ({{exercice.chapitre.nom }})
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>Il n'y a pas d'exercices dans le catalogue.</p>
  {% endif %}

  	<a href="{% url 'new_ex' %}" class="btn btn-outline-success btn-sm">Ajouter un exercice</a>
  	<a href="{% url 'home' %}" class="btn btn-outline-secondary btn-sm">Retour à la page d'accueil</a>

    <!-- <div class="d-grid gap-2 d-md-block">
      <button class="btn btn-outline-primary" type="button">Button</button>
      <button class="btn btn-outline-primary" type="button">Button</button>
      <button class="btn btn-outline-primary" type="button">Button</button>
      <button class="btn btn-outline-primary" type="button">Button</button>
    </div> -->

{% endblock %}