{% extends "base_generic.html" %}

{% block content %}
<h1>Recherche avancée</h1>
<form method="get">
    {{myFilter.form}}
<button class="btn-secondary" type="submit">{% include './icons/search.svg'%}</button>    
</form>

<br/>
{% for exercice in exercices %}
    <li>
        {% if exercice.nom == None %}
        <a href="{{ exercice.get_absolute_url }}"> Exercice {{ exercice.id }}</a> ({{ exercice.chapitre.nom }})
        {% else %}
        <a href="{{ exercice.get_absolute_url }}">{{ exercice.nom }}</a> ({{ exercice.chapitre.nom }})
        {% endif %}
    </li>
{% endfor %}

<br/>
<a href="{% url 'home' %}" class="btn btn-outline-secondary btn-sm">Retour à la page d'accueil</a>

{% endblock %}
