{% extends 'base_generic.html' %}

{% block content %}
	<center>
	{% if searched %}
		<h3>Résultats de la recherche : <em>{{ searched }}</em></h3>
		<!--<br/> searched.count résultats-->
		<br/>
	</center>
	<h4>Chapitres :</h4>
		{% if chapitres.count == 0 %}
				<em>Aucun résultat</em>
		{% endif %}
		{% for chapitres in chapitres %}
			<ul>
				<li><a href="{{ chapitres.get_absolute_url }}">{{ chapitres.numero }}) {{ chapitres }} - {{ chapitres.annee }}</a></li>
			</ul>
		{% endfor %}
	<p><br/></p>
	<h4>Exercices :</h4>
		{% if exercices.count == 0 %}
				<em>Aucun résultat</em>
		{% endif %}
		{% for exercices in exercices %}
			<ul>
				<li><a href="{{ exercices.get_absolute_url }}">{{ exercices }}  </a></li>
			</ul>
		{% endfor %}
	{% else %}
		<center><br/><h2>Vous n'avez rien recherché ! Try again {% include './icons/emoji-wink.svg'%}</h2></center>
	{% endif %}
{% endblock %}