{% extends 'base_generic.html' %}
{% block content %}
{% if request.user.is_staff %}
  <h1>Ajouter un nouveau format</h1>
<!--   <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <h2>Format image :</h2>
    {{ form.as_p }}
  </form> -->
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
<!--     <h2>Source (docx ou tex) :</h2> -->
    {{ form.as_p }}
    <div class="col-12">
    <button type="submit" class="btn btn-warning">Enregistrer le fichier</button>
    <a href="{% url 'home' %}" class="btn btn-outline-secondary btn-sm">Retour à la page d'accueil</a>
  </div>
  </form>
{% endif %}
{% endblock %}